include           AUTHOR
include           CHANGELOG.rst
include           COPYRIGHT
include           LICENSE
include           README.rst
include           conftest.py
recursive-include doc       *
recursive-include fsl/tests *
