include           AUTHOR
include           LICENSE
include           COPYRIGHT
include           CHANGELOG.rst
include           README.rst
include           requirements.txt
include           requirements-dev.txt
include           requirements-extra.txt
include           setup.cfg
recursive-include doc      *
recursive-exclude doc/html *
recursive-include tests    *
