include           LICENSE
include           COPYRIGHT
include           requirements.txt
include           requirements-dev.txt
include           pytest.ini
recursive-include doc      *
recursive-exclude doc/html *
recursive-include tests    *
