{
    "metadata" : {
        "title"            : "fslpy",
        "upload_type"      : "software",
        "version"          : "{{VERSION}}",
        "publication_date" : "{{DATE}}",
        "description"      : "<p>The fslpy project is a <a href=\"https://fsl.fmrib.ox.ac.uk/fsl/fslwiki\">FSL</a> programming library written in Python. It is used by <a href=\"http://git.fmrib.ox.ac.uk/fsl/fsleyes/fsleyes/\">FSLeyes</a>.</p>\n\n<p>The fslpy library is developed at the Wellcome Centre for Integrative Neuroimaging (FMRIB), at the University of Oxford. It is hosted at <a href=\"https://git.fmrib.ox.ac.uk/fsl/fslpy/\">https://git.fmrib.ox.ac.uk/fsl/fslpy/</a>.</p>",
        "keywords"         : ["python", "mri", "neuroimaging", "neuroscience"],
        "access_right"     : "open",
        "license"          : "Apache-2.0",
        "creators"         : [
           { "name" : "McCarthy, Paul" },
           { "name" : "Cottaar, Michiel" },
           { "name" : "Webster, Matthew" },
           { "name" : "Fitzgibbon, Sean" },
           { "name" : "Craig, Martin" }
        ]
    }
}
